.wrapper {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputForm {
	padding: calc((1vh + 1vw) * 3);
	border: 0px;
	border-radius: 13px;

	display: flex;
	flex-direction: column;
	gap: calc((1vh + 1vw));
	background-color: rgba(255, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}

.inputWrapper {
	position: relative;
}

.label {
	position: absolute;
	top: 1rem;
	left: 2rem;
	pointer-events: none;
	transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
	background-color: #004cff;
	border-radius: 8px;
  border: 0px;
  padding: 1.5rem;
  font-size: 1em;
  font-weight: 500;
	outline: 0px solid transparent;
	transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
	outline: 1px solid #646cff;
}


.input:is(:focus, :valid) ~ .label {
	transform: translateY(-130%) scale(0.8);
	padding-inline: 0.5rem;
	color: #646cff;
}

.errorsWrapper {
 all: unset;
}

.errorText {
	color: red;
}