.wrapper {
	display: flex;
	align-items: flex-start;
	width: 100%;
	justify-content: space-between;
	padding: 5rem 10%;
	gap: 5rem;
}

.wrapper section {
	overflow: hidden;
}

.wrapper section:first-child {
	width: fit-content;
	max-width: 30%;
}